<section class="hero is-info is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-6 is-offset-3">
        <h1 class="title">
          Shaun Daroya
        </h1>
        <h2 class="subtitle">
          I am a web developer.
        </h2>
        <div class="box">
          <div class="columns is-desktop">
            <h2 class="column">
              I can notify you when I am available for employment.
            </h2>
          </div>
          <div class="column">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter your email">
              </p>
              <p class="control">
                <a class="button is-info">
                  Notify me
                </a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>